@import './variables.scss';

.searches, .profiles, .links {
  padding: 75px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;

  .no-results {
    font-size: 24px;
    font-weight: 300;
  }
}
