@import './styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $background;
  color: $text;
}

#root {
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: none;
  color: $primaryColor;

  &.original-link {
    display: inline-block;
    vertical-align:bottom;
    max-width: 50%;
  }

  &:hover {
    text-decoration: underline;
  }
}

.original-link {
  display: block;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.double-list {
  columns: 20vw 3;
}

.tooltip {
  display:inline-block;
  position:relative;
  text-align:left;
}

.tooltip .top {
  min-width: 200px; 
  top: -20px;
  left: 50%;
  transform: translate(-50%, -100%);
  padding: 5px 10px;
  color: $background;
  background-color: $text;
  font-weight: normal;
  font-size: 13px;
  text-align: center;
  border-radius: 8px;
  position: absolute;
  z-index: 999;
  box-sizing: border-box;
  border: 1px solid transparent;
  box-shadow:0 1px 8px transparent;
  display: none;
}

.tooltip:hover .top {
  display:block;
}

.tooltip .top i {
  position:absolute;
  top:100%;
  left:50%;
  margin-left:-12px;
  width:24px;
  height:12px;
  overflow:hidden;
}

.tooltip .top i::after {
  content:'';
  position:absolute;
  width:12px;
  height:12px;
  left:50%;
  transform:translate(-50%,-50%) rotate(45deg);
  background-color: $text;
  border:1px solid transparent;
  box-shadow:0 1px 8px transparent;
}

.checkbox-container {
	position: relative;
	cursor: pointer;
  min-width: 12px;
  min-height: 12px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	/* On mouse-over, add a grey background color */
	&:hover input ~ .checkmark {
		border: 2px solid $primaryColor;
    border-radius: $radius / 2;
	}

	/* Hide the browser's default checkbox */
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;

		&:checked ~ .checkmark {
			background-color: $primaryColor;
		}

		/* Show the checkmark when checked */
		&:checked ~ .checkmark:after {
			display: block;
		}
	}

	/* Create a custom checkbox */
	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		background-color: $background;
		border-radius: $radius / 2;
		border: 2px solid transparent;
    padding: 0;
    width: 18px;
    height: 18px;

		/* Create the checkmark/indicator (hidden when not checked) */
		&:after {
			content: "";
			position: absolute;
			display: none;
		}

		/* Style the checkmark/indicator */
		&:after {
			left: 50%;
			top: 50%;
			width: 20%;
			height: 40%;
			border: solid $text;
			border-width: 0 2px 2px 0;
			-webkit-transform: translate(-50%, -60%) rotate(45deg);
			-ms-transform: translate(-50%, -60%) rotate(45deg);
			transform: translate(-50%, -60%) rotate(45deg);
		}
	}
}
